include inc/meta.inc.pug
include inc/nav.inc.pug
main.main
	.slider
		.content
			section.hero
				h1 locals.titre
include inc/footer.inc.pug
include inc/analyticstracking.inc.pug
script(src='js/all.js')